package ${package};
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import java.time.LocalDateTime;


/**
 * ${comments}
 *
 * @author ${author}
 * @since ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
@Accessors(chain = true)
public class ${className} extends Model<${className}> {
private static final long serialVersionUID=1L;
#foreach ($column in $columns)
    /**
    * $column.comments
    */
    #if($column.columnName == $pk.columnName)
    @TableId
    #end
    @ApiModelProperty(value = "$column.comments", name = "$column.lowerAttrName", dataType = "$column.attrType")
    private $column.attrType $column.lowerAttrName;
#end

}
